@font-face {
  font-family: Metropolis-Regular;
  src: url(/fonts/Metropolis-Regular.otf);
}

@font-face {
  font-family: Metropolis-Medium;
  src: url(/fonts/Metropolis-Medium.otf);
}

@font-face {
  font-family: Metropolis-SemiBold;
  src: url(/fonts/Metropolis-SemiBold.otf);
}

@font-face {
  font-family: work-sans-regular;
  src: url(/fonts/work-sans-regular.otf);
}

@font-face {
  font-family: KhmerOSContent-Regular;
  src: url(/fonts/KhmerOSContent-Regular.ttf);
}

@font-face {
  font-family: KhmerOSContent-Bold;
  src: url(/fonts/KhmerOSContent-Bold.ttf);
}

/* 
font nav: metropolis medium
hero text: metropolis medium
fonts button: metropolis semibold
headings: metropolis semibold
content text: work sans regular 
*/
.home {
  margin: 0 auto;
  padding: 5% 0;
}

@media (max-width: 48em) {
  .home {
    padding: 0;
  }
}

.home div a {
  background: #003153;
  color: #fff;
  text-decoration: none;
  line-height: 1;
  font-size: 2.1rem;
  font-weight: 600;
  padding: 1.5rem 2rem;
  padding-right: 3rem;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  border-radius: 0 0 5rem 0;
}

.home div a:hover {
  background: #008BEC;
  border-radius: 0;
}

.home div a:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@media (max-width: 48em) {
  .home div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
  }
  .home div a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 0;
    width: 100%;
    margin-top: -1rem;
  }
}

.home section {
  padding: 5% 0;
}

@media (min-width: 48em) {
  .home div {
    max-width: 50%;
  }
  .home div h1 {
    font-size: 3.2rem;
    margin-bottom: 2.5rem;
    max-width: 30ch;
  }
  .home div p {
    max-width: 40ch;
    margin-bottom: 3.5rem;
  }
}

@media (min-width: 64em) {
  .home div h1 {
    font-size: 3.8rem;
  }
}

@media (min-width: 120em) {
  .home div h1 {
    font-size: 4.2rem;
  }
  .home div a {
    font-size: 2.4rem;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

@media (max-width: 48em) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero img {
    max-width: 90%;
  }
}

@media (min-width: 48em) {
  .hero {
    padding: 10% 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero img {
    max-width: 40%;
  }
}

.skillset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 0;
}

@media (max-width: 48em) {
  .skillset {
    padding: 20% 0;
  }
  .skillset div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    overflow-x: scroll;
    padding: 2.5rem 0;
  }
  .skillset div img {
    display: inline-block;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 150%;
    max-width: 150%;
    outline: 1px solid sgreen;
  }
}

@media (min-width: 48em) {
  .skillset div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  .skillset div img {
    width: 65%;
    max-width: 65%;
    margin: 1.5rem 0;
    height: 100%;
  }
}

.content_sections_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.content_sections_container .content_section {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-column: 1fr 1fr;
}

@media (max-width: 48em) {
  .content_sections_container .content_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.content_sections_container .content_section span {
  max-width: 90%;
  padding: 5% 0;
}

@media (max-width: 48em) {
  .content_sections_container .content_section span {
    width: 100%;
    max-width: 100%;
  }
}

.content_sections_container .content_section span h2 {
  padding-bottom: .5rem;
  border-bottom: #008BEC 0.325rem solid;
}

.content_sections_container .content_section img {
  width: 65%;
  max-width: 65%;
  max-height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 48em) {
  .content_sections_container .content_section img {
    width: 100%;
    max-width: 100%;
  }
}

.content_sections_container p > a {
  display: inline;
  padding: 0;
  margin: 0;
  background: 0;
  color: #003153;
  text-decoration: underline;
  -webkit-transition: 0s;
  transition: 0s;
}

.content_sections_container p > a:hover, .content_sections_container p > a:focus, .content_sections_container p > a:active {
  background: 0;
  color: #008BEC;
}
/*# sourceMappingURL=home.module.css.map */